In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import yfinance as yf
from datetime import datetime
import os
import investpy

In [2]:
def GetRendement(x):
    ### 1: creeeren van brug tussen sql query en database
    ### 2a: bepaal de eindwaarde per dag voor klant x
    ### 2b: bepaal de stortingen per dag voor klant x
    ### 2c: bepaal de deponeringen per dag voor klant x
    ### 2d: bepaal de onttrekkingen per dag voor klant x
    ### 2e: bepaal de lichtingen per dag voor klant x
     
    
    ### 1: creeeren van brug tussen sql query en database
    engine = create_engine('sqlite:///DatabaseVB1.db')
    
    
    ### 2a: bepaal de eindwaarde per dag voor klant x (datum, eindwaarde)
    df_posrecon = pd.read_sql(f'''SELECT "Datum", ROUND(sum("Current_Value_in_EUR"),2) as "Eind Waarde" FROM Posrecon WHERE "Account_Number" = "{x}" group by "Datum" order by "Datum"''', con = engine).set_index('Datum')
    
    
    ### 2b: bepaal de stortingen per dag voor klant x (datum, stortingen)
    ### (som van kolom invoice amount, indien OF (Transaction Type Code=O-G en Reference Code=5026) OF (Transaction Type Code=O-G en Reference Code=5000 en kolom invoice amount >0)
    df_stortingen = pd.read_sql (f'''  SELECT "Datum", sum("Invoice_Amount") as "Stortingen" FROM Traderecon WHERE "Account_Number" = "{x}"  AND "Reference_Code" = 5026 OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2c: bepaal de deponeringen per dag voor klant x (datum, deponeringen)
    ### som van kolom Deposit Value, indien (1) Transaction Type Code = D, of (2) Transaction Type Code = O en Deposit value > 0. 
    
    df_deponeringen = pd.read_sql (f''' SELECT "Datum", sum("Deposit_Value") as Deponeringen FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "D") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" > 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    
    
    ### 2d: bepaal de onttrekkingen per dag voor klant x (datum, onttrekkingen)
    ### (som van kolom invoice amount *-1, indien (1) Reference Code=5025, (2) Reference Code=5000 en invoice amount < 0.   
    df_onttrekking = pd.read_sql (f''' SELECT Datum, sum("Invoice_Amount")*-1 as "Onttrekkingen" FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Reference_Code" = 5025) OR ("Account_Number" = "{x}" AND "Reference_Code" = 5000 AND "Invoice_Amount" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')
    

    ### 2e: bepaal de lichtingen per dag voor klant x (datum, lichtingen)
    ### som van kolom Deposit Value *-1, indien (1) Transaction Type Code = L, of (2) Transaction Type Code = O en Deposit value < 0. 
    df_lichtingen = pd.read_sql (f''' SELECT Datum, sum("Deposit_Value")*-1 as "Lichtingen"  FROM Traderecon WHERE ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "L") OR ("Account_Number" = "{x}" AND "Transaction_Type_Code" = "O" AND "Deposit_Value" < 0) group by "Datum" order by "Datum" ''', con = engine).set_index('Datum')


    # Concat de 4 dataframes uit de Traderecon query in 1 dataframe en merge deze met de Posrecon dataframe
    traderecon_data = [df_onttrekking, df_stortingen, df_lichtingen, df_deponeringen]
    df_tot_tr = pd.concat(traderecon_data).fillna(0).groupby(['Datum']).sum()
    
    df_final = df_posrecon.merge(df_tot_tr, on='Datum', how='outer')
    
    ### VOEG DE OVERBOEKINGEN AAN DE DATAFRAME MET DE WAARDES PORTEFEUILLE
    traderecon_columns = ['Onttrekkingen', 'Stortingen', 'Lichtingen', 'Deponeringen']
    df_final[traderecon_columns] = df_final[traderecon_columns].fillna(0.0)
    
    
    ### MAAK KOLOM ACTUELE RENDEMENT EN BEREKEN RENDEMENT VAN WAARDE PORTEFEUILLE EN ONTTREKKINGEN / STORTINGEN
    # start waarde is de eind waarde van de vorige dag
    df_final['Start Waarde'] = df_final["Eind Waarde"].shift(1)
    df_final['Eind Waarde'] = df_final['Eind Waarde'].fillna(df_final['Start Waarde'] + df_final['Stortingen'] + 
                                                             df_final['Deponeringen'] - df_final['Onttrekkingen'] - 
                                                             df_final['Lichtingen'])
    
    df_final['Dag Rendement'] = ((df_final['Eind Waarde'] - df_final['Start Waarde'] - df_final['Stortingen'] - df_final['Deponeringen'] + df_final['Onttrekkingen'] + df_final['Lichtingen'] ) ) / (df_final['Start Waarde'] + df_final['Stortingen'] + df_final['Deponeringen'] - df_final['Onttrekkingen'] - df_final['Lichtingen']).round(5)
    df_final['Dag Rendement'] = df_final['Dag Rendement'].fillna(0)  
    
    
    df_final['EW Portfolio Cumulatief Rendement'] = (1 + df_final['Dag Rendement']).cumprod()

    df_final['SW Portfolio Cumulatief Rendement'] = df_final['EW Portfolio Cumulatief Rendement'].shift(1)

    columns = ['Start Waarde','Stortingen','Deponeringen', 'Onttrekkingen', 'Lichtingen', 'Eind Waarde', 'Dag Rendement', 'SW Portfolio Cumulatief Rendement', 'EW Portfolio Cumulatief Rendement']
    
    return df_final[columns]

In [3]:
klant = GetRendement(295704)
reknr = 295704
start = "2020-01-10"
end = "2020-05-10"

today = datetime.today().strftime("%d/%m/%Y")

In [41]:
etf = "aex"
country = "netherlands"
engine = create_engine('sqlite:///DatabaseVB1.db')

def benchmarkdatainvesting(bench, country):
    conn = sqlite3.connect('DatabaseVB1.db')
    df = investpy.get_index_historical_data(index=f'{bench}',
                                          country=f'{country}',
                                          from_date='01/01/2000',
                                          to_date=datetime.today().strftime("%d/%m/%Y"))
    df.reset_index(inplace = True)
    df.rename(columns ={'Date':'Datum'}, inplace = True)
    df.to_sql(f'{bench}', if_exists = "replace", con = conn)
    #df_benchmark = pd.read_sql(f''' SELECT substr(datum,1,10) as Datum, close as "Eind Waarde" FROM "{bench}" ''',
    #                         con = conn).set_index('Datum')
    #return df_benchmark

def klantdata(x, bench, start, end, engine):
    conn = sqlite3.connect('DatabaseVB1.db')
    df_benchmark = pd.read_sql(f''' SELECT substr(datum,1,10) as Datum, close as "Eind Waarde" FROM "{bench}" ''',
                              con = conn).set_index('Datum')
    klantdates = pd.read_sql(f'''
    SELECT DATUM
    FROM POSRECON
    WHERE ACCOUNT_NUMBER = "{x}" AND DATUM BETWEEN "{start}" and "{end}" order by Datum asc''', con = engine)
    df = klantdates.merge(df_benchmark, how = 'left', on = 'Datum' ).groupby(['Datum']).mean()
    df["Eind Waarde"] = df["Eind Waarde"].fillna(method = 'ffill')
    
    #df["Eind Waarde"] = df["Eind Waarde"].fillna(method = 'bfill')
    df["Start Waarde"] = df["Eind Waarde"].shift(1)
    return df

def PortfBenchOverzicht(data, start_date, end_date):
    startwaarde = data.loc[start_date,["Start Waarde"]]
    eindwaarde = data.loc[end_date,["Eind Waarde"]]

    data = list(zip(startwaarde, eindwaarde))
    df = pd.DataFrame(data, columns = ["Start Waarde", "Eind Waarde"])
    
    df["Absolute Rendement"] = df["Eind Waarde"] - df["Start Waarde"]
    df["Rendement"] = "{:.2%}".format(df["Absolute Rendement"][0] / df["Start Waarde"][0])
    
    return df

In [43]:
bench = benchmarkdatainvesting(etf, country)
kd = klantdata(reknr, etf, start, end, engine)

In [46]:
PortfBenchOverzicht(kd, "2020-01-12", "2020-05-09")

   Start Waarde  Eind Waarde  Absolute Rendement Rendement
0        610.43       520.57              -89.86   -14.72%

In [44]:
bench

In [45]:
kd

            Eind Waarde  Start Waarde
Datum
2020-01-10       610.43           NaN
2020-01-11       610.43        610.43
2020-01-12       610.43        610.43
2020-01-13       608.90        610.43
2020-01-14       611.15        608.90
...                 ...           ...
2020-05-06       505.55        509.83
2020-05-07       516.26        505.55
2020-05-08       520.57        516.26
2020-05-09       520.57        520.57
2020-05-10       520.57        520.57

[122 rows x 2 columns]